@import '../../style/colors';
@import '../../style/grid';

.longest {
	margin: $spacing-small;
	padding: $spacing-min $spacing-quarter;
	background: $color-background-secondary;
	border-radius: $spacing-small;
}
