@import '../App/style/colors';
@import '../App/style/layout';

.longest {
	margin: $spacing-small;
	padding: $spacing-min $spacing-quarter;
	background: $color-background-secondary;
	border-radius: $spacing-small;
}
