@import '../App/style/colors';
@import '../App/style/layout';

$segment-width: 160px;
$segment-height: 62px;

// Segment wrapper
.segment {
	transition: background-color .2s ease-in-out;

	&:hover {
		background-color: $color-shadow;
	}
}

// Segment content
.segment article {
	background-repeat: no-repeat;
	width: $segment-width;
	height: $segment-height;
	margin-right: -18px;
}

// Last segment content
.segment:last-of-type article {
	margin-right: 0;
}

// Segment raising diagram
.raise {
	background-image: url('../../assets/raise.svg');
}

// Segment lowering diagram
.lower {
	background-image: url('../../assets/lower.svg');
}

// Segment tip
.segment figure {
	display: none;
	position: absolute;
	background: $color-shadow;
	padding: $spacing-third $spacing-half;
	max-width: 4em;
}

// Segment tip icon
.segment figure:after {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	top: calc(100% + #{$spacing-third + $spacing-quarter});
	left: $spacing-triple - $spacing-min;
}

// Segment tip point
.segment figure:before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0px;
	border-width: $spacing-quarter;
	border-style: solid;
	border-color:
		$color-shadow
		$color-shadow
		transparent
		transparent;
}

// Segment tip heading
.segment h3 {
	font-size: $spacing-four-thirds;
	margin: 0;
	line-height: $spacing-single;
}

// Segment tip text
.segment figcaption {
	line-height: $spacing-single;
}

// Rate tip
.rate {
	left: 10px;
}

// Temperature tip
.temperature {
	left: 40px;
}

// Time tip
.time {
	left: 80px;
}

// Rate icon
.rate:after {
	background-image: url('../../assets/up.svg');
}

// Temperature icon
.temperature:after {
	background-image: url('../../assets/pyrometer.svg');
}

// Time icon
.time:after {
	background-image: url('../../assets/clock.svg');
}

// Units span
.units {
	color: $color-text-light;
}
