@import 'colors';
@import 'typography';
@import 'layout';

label {
	color: $color-text-dark;
	opacity: .55;
	transition: opacity .3s ease-in-out;
	margin-right: $spacing-third;
	cursor: pointer;
}

input:focus + label,
select:focus + label,
label:hover {
	opacity: 1;
}

input[type=text],
input[type=number],
select {
	font-family: $font-body;
	font-size: $font-size-input;
	box-sizing: border-box;
	line-height: 32px;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	opacity: .7;
	transition: opacity .2s ease-in-out;

	&:focus {
		opacity: .8;
	}
	
	&:hover {
		opacity: .8;
	}
}

input[type=text],
input[type=number] {
	max-width: 3.25em;
	padding: $spacing-third 0 $spacing-third $spacing-third;
	border: none;
	border-bottom: 2px solid $color-border-text;
	transition: opacity .2s ease-in-out, border-bottom-color .2s ease-in-out;

	&:active,
	&:focus {
		border-bottom-color: $color-selection-accent;
	}
}

select {
	background: $color-border-dark;
	border-radius: $spacing-third;
	border: none;
	padding: 0 $spacing-one-and-half 0 $spacing-three-halves;
	background-image: url('../../../assets/select.svg');
	background-repeat: no-repeat;
	background-position-x: 100%;
	cursor: pointer;
}

.group {
	display: flex;
	flex-direction: row;
	margin-bottom: 24px;
}

.control {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex: 1 1 0px;
}

.control label {
	flex: 0 0 4em;
}

.control select,
.control input {
	flex: 1 1 0px;
}
