@import 'fonts';
@import 'colors';
@import 'layout';

// Default or Mobile
html,
body {
	font-family: $font-primary;
	font-weight: $font-weight-primary;
	font-size: $font-size-text;
	line-height: $spacing-single;

	color: $color-text-primary;
	background-color: $color-background-primary;

	// Variable width with no gutter
	margin: 0;
}

// Desktop or Tablet
@media (min-width: $spacing-max) {
	body {
		// Fixed width with auto gutter
		margin: 0 auto;
		width: $spacing-max;
	}
}

h1 {
	font-size: $font-size-title;
}

h2 {
	font-size: $font-size-heading;
}

h3 {
	font-size: $font-size-text;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: $spacing-single;
}

article {
	padding: $spacing-single;
	border-bottom: $border dashed $color-border;
}

#app {
	display: flex;
	flex-flow: row wrap;
}
