@import '../../style/grid';

// Mobile
.summary {
	display: none;
}

// Desktop or Tablet
@media (min-width: 720px) {
	.summary {
		display: block;
		padding:
			$spacing-single
			$spacing-single
			$spacing-single
			$spacing-double;
	}
}
