@import '../App/style/colors';
@import '../App/style/layout';

.steps {
	position: relative;
	z-index: 10;
}

.tabGroup {
	border: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid $color-border-dark;
}

.tab {
	display: none;
}

.tab + label {
	display: inline-block;
	color: $color-accent;
	font-size: $spacing-four-thirds;
	width: $spacing-half * 12 - $spacing-double - $spacing-third;
	line-height: $spacing-double + $spacing-quarter;
	padding: 0 $spacing-third 0 $spacing-double;
	margin: 0;
	margin-bottom: -1px;
	opacity: 1;
	cursor: pointer;
	border-bottom: $spacing-min solid transparent;
	background-repeat: no-repeat;
	background-size:
		$spacing-single
		$spacing-single;
	background-position:
		$spacing-third
		$spacing-three-halves;
	transition:
		color .3s ease-in-out,
		border-color .3s ease-in-out;
}

.tab + label:hover {
	color: $color-accent-highlight;
}

.tab:checked + label {
	border-bottom-color: $color-accent;
}

.tab:checked + label:hover {
	border-bottom-color: $color-accent-highlight;
}

.stepsTab + label {
	background-image: url('../../assets/segments.svg');
}

.segmentsTab + label {
	background-image: url('../../assets/steps.svg');
}

.steps table {
	font-size: $spacing-four-thirds;
	border-spacing: 0;
	width: 100%;
}

.steps th {
	padding: $spacing-half;
	text-align: left;
}

.steps tr {
	height: $spacing-double;
	border: 1px solid $color-border-dark;
}

.steps td {
	padding: $spacing-half;
	border-bottom: 1px solid $color-border-dark;
	transition: background-color .3s ease-in-out;
}

.steps tr:hover td {
	background: $color-shadow;
}

.steps td:first-of-type {
	text-align: left;
}

.steps a {
	color: $color-accent;
	text-decoration: none;
	transition: color .3s ease-in-out;
}

.steps a:hover {
	color: $color-accent-highlight;
}
