@import '../App/style/colors';
@import '../App/style/layout';
@import '../App/style/timeline';

.flask:after {
	border-color: $color-primary;
}


// Height label smaller and with margin
.dimensions section:last-of-type label {
	margin-left: $spacing-half;
	flex: 0 0 3.5em;
}

// Units
.dimensions span {
	margin: 1em 0 0 calc(-1em - 8px);
	order: -2;
	opacity: .5;
	transition: opacity .3s ease-in-out;
}

// Hide units on hover or focus to make way for up/down spinner
.dimensions input:focus ~ span,
.dimensions section:hover span {
	opacity: 0;
}

// Buttons
.action {
	flex: 0 0 $spacing-double;
	background: $color-border-dark;
	border-radius: $spacing-quarter;
	border: none;
	opacity: .7;
	width: $spacing-double;
	height: $spacing-double;
	margin-left: $spacing-third;
	cursor: pointer;
	transition: .2s ease-in-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	text-indent: -9999px;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.action:focus {
	opacity: .8;
}

.action:hover {
	opacity: 1;
}

.add {
	background-image: url('../../assets/add.svg');
}

.remove {
	background-image: url('../../assets/remove.svg');
}
