@import '../App/style/colors';
@import '../App/style/typography';
@import '../App/style/layout';

header {
	color: $color-text-inverse;
	background-image: linear-gradient(-154deg, $color-secondary 13%, $color-primary 100%);
	box-shadow: 0 2px 4px 0 $color-dark-shadow;
	padding: $spacing-double 0 $spacing-double 0;
}

header p {
	font-size: $font-size-body;
	line-height: $spacing-single;
	margin: 0;
}

header p + p {
	margin-top: $spacing-small;
}

header strong {
	font-weight: $font-weight-regular;
	background-color: $color-highlight;
	padding: $spacing-min $spacing-third;
}

.wrapper {
	position: relative;
	width: $max-width-desktop;
	margin: auto;
}

$share-icon-size: 42px;

.share {
	position: absolute;
	-webkit-appearance: none;
	border: none;
	color: $color-text-inverse;
	background: url('../../assets/share.svg') $spacing-quarter $spacing-quarter no-repeat;
	background-size: $share-icon-size $share-icon-size;
	border-radius: $spacing-quarter;
	font-size: $font-size-header;
	height: $share-icon-size+ $spacing-quarter * 2;
	right: 0px;
	top: 0px;
	padding: $spacing-quarter $spacing-quarter $spacing-quarter $spacing-quarter + $share-icon-size + $spacing-third;
	cursor: pointer;
	transition: background-color .1s ease-in-out;
}

.share:hover {
	background-color: $color-selection-accent;
}
