@import '../App/style/colors';
@import '../App/style/layout';

// Default or Mobile
header {
	background-color: $color-background-secondary;
	padding: $spacing-single;

	p {
		margin-bottom: 0;
	}
}

// Desktop or Tablet
@media (min-width: $spacing-max) {
	header {
		margin-top: $spacing-double;
		border-radius: $spacing-third;
	}
}
