@import '../../style/colors';
@import '../../style/grid';

// Default or Mobile
header {
	background-color: $color-background-secondary;
	padding: $spacing-single;

	@include fullWidth;

	p {
		margin-bottom: 0;
	}
}

// Desktop or Tablet
@media (min-width: $spacing-max) {
	header {
		margin-top: $spacing-double;
		border-radius: $spacing-third;
	}
}
