body {
	//transition: padding .4s ease-out;
}

// Mobile
@media (max-width: 767px) {
	body {
		padding: 10px;
	}
}

// Desktop or Tablet
@media (min-width: 768px) {
	body {
		padding: 24px 15%;
	}
}

// Desktop HD or Tablet Landscape
@media (min-width: 1024px) {
	body: {
		padding: 24px 50%;
	}
}