@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

$font-primary: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
$font-weight-primary: 400;

$font-size-title: 24px;
$font-size-heading: 18px;
$font-size-text: 16px;
